<div ng-controller="adminHomeCtrl">
	
	<h5>Your games</h5>
	<div ng-repeat="game in games">
	<a href="/game/{{game.title}}/{{game._id}}/home"><h4>{{game.title}}</h4></a>
	<div ng-show="showDetails">
		<img src="{{game.picture}}" width = "150" height="150">
		<ul>
			<li>Number of players: {{game.players.length}}</li>
			<li>End Date: {{game.end_date}}</li>
			<li>Additional Rules: {{game.additional_rules}}</li>
			<li>Key: {{game.key}}</li>
		</ul>
	</div>
	<button ng-init="showDetails=false" ng-click="showDetails = !showDetails" class="btn btn-default">View Details</button>
	<a type="button" class="btn btn-default" href="/game/{{game.title}}/admin-page">Admin Page</a>
	<br><br>
	
	</div>

</div>