<h5>Assassin profile</h5>

<h6>Happy Killing {{assassin.codename}}</h6>

<div ng-controller="gamePlayersCtrl">
	<h4 class="text-center">Players</h4>
	<span ng-repeat="player in players" class="text-center">
		<div class="col-sm-6">
			{{player.codename}}
			<img ng-src="{{player.avatar}}" width="50" height="50">
		</div>

	</span>
</div>

<div ng-controller="assassinTargetCtrl">
	<h3>Target:</h3><h4>{{target.codename}}</h4>
	<div class="target-image-wrapper text-center">
		<div>
			Target's Avatar
		<img src="{{target.avatar}}" width="150" height="150">
		</div>
		<div>
			Target's Real Photo
			<img src="{{target.real_photo}}" width="150" height="150">
			"{{target.tagline}}"
		</div>
		
		<br>
		<div ng-controller="killedTargetCtrl">
			<div ng-show="reportSuccessful" class="alert alert-danger text-center">{{successMessage}}</div>
			<div ng-show="error" class="alert alert-danger text-center">{{errorMessage}}</div>
			<button  ng-click="killedTarget()" class="btn btn-danger">Killed Target</button>
		</div>
		
	</div>
</div>


<button ng-controller="diedCtrl" ng-click="died()" class="btn btn-danger">You died</button>