<div ng-controller="gameMainCtrl" ng-show="gameStarted">
	<div ng-controller="gamePlayersCtrl">
		<div class="text-center players-container container">
			<h4 class="text-center">Assassins left</h4>
			<div>
				<div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="player in players">
					<div class='tagline' ng-init='taglineId = player.codename + "-tagline"' id="{{taglineId}}"> "{{player.tagline}}" </div>
					<div class="player-codename">{{player.codename}}</div>
					<img class="death-mark player-game-icon" src="http://4vector.com/i/free-vector-x-wrong-no-cross-clip-art_103114_X_Wrong_No_Cross_clip_art_hight.png" ng-hide="{{player.is_alive}}" ng-mouseover="sayTagline(player.codename)" ng-mouseleave="removeTagline(player.codename)">
					<img class="player-game-icon" ng-src="{{player.avatar}}" ng-show="{{player.is_alive}}" id="{{player.codename}}" ng-init="tagline = player.tagline" ng-mouseover="sayTagline(player.codename)" ng-mouseleave="removeTagline(player.codename)">
					<img class="player-game-icon" ng-src="{{player.real_photo}}" ng-hide="{{player.is_alive}}" id="{{player.codename}}" ng-init="tagline = player.tagline" ng-mouseover="sayTagline(player.codename)" ng-mouseleave="removeTagline(player.codename)">
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="stats-container">
		<h3>Happy killing {{assassin.codename}}.</h3>
		 <h5 ng-hide="isAlive">Wait. Nevermind. You have already been eliminated.</h5>
		Kills: <span ng-repeat="kill in assassin.kills">{{kill.codename}}</span> <span ng-show="{{assassin.kills.length}} === 0">Dang. Not even one?</span>
	</div>

	

	<div ng-controller="assassinTargetCtrl" ng-show="isAlive">
		<h3>Your target: {{target.codename}}</h3>
		<div class="target-image-wrapper text-center">
			<div class="col-lg-12">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<h5>To the public</h5>
				<img class="target-icon" src="{{target.avatar}}">
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<h5>Target's Real Photo</h5>
					<img class="target-icon" src="{{target.real_photo}}"> <br>
				</div>
				"{{target.tagline}}"
			</div>
			
			<br>
			<div ng-controller="killedTargetCtrl">
				<div ng-show="reportSuccessful" class="alert alert-danger text-center">{{successMessage}}</div>
				<div ng-show="error" class="alert alert-danger text-center">{{errorMessage}}</div>
				<button  ng-click="killedTarget()" class="btn btn-danger">Killed Target</button>
			</div>
			
		</div>
	</div>
	<br>

	<div ng-controller="diedCtrl" ng-show="nearDeath" class="text-center">
		<div ng-show="error" class="alert alert-danger text-center">{{errorMessage}}</div>
		<div ng-show="reportSuccessful" class="alert alert-danger text-center">{{successMessage}}</div>
		Your killer has reported you for dead. Please confirm your death or contact the game admin. <br>
		<button  ng-click="died()" class="btn btn-danger">Confirm</button>
	</div>

	<div ng-controller="revokeKillCtrl" ng-show="canRevoke" class="text-center">
		Revoke your reported kill. <br>
		<button ng-click="revokeKill()" class="btn btn-danger">Lose Kill</button>
	</div>

</div>
