<div class="col-sm-4 col-sm-offset-4">
  <h1>Assassin login</h2>
  <div ng-show="error" class="alert alert-danger text-center">{{errorMessage}}</div>
  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="assassinLogin.codename" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="assassinLogin.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
      </div>
  </form>
  Haven't have an account? Register for the game <a ng-href="/game/{{gameTitle}}/register">here.</a>
</div>