<div class="col-sm-4 col-sm-offset-4">
  <h1>Create a game</h2>
  <div ng-show="error" class="alert alert-danger text-center">{{errorMessage}}</div>
  <form class="form" ng-submit="createGame()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="title" ng-model="gameForm.title" required>
    </div>
    <div class="form-group">
      <label>Game Picture</label>
      <input type="text" class="form-control" name="picture" ng-model="gameForm.picture" required>
    </div>
    <div class="form-group">
      <label>End Date</label>
      <input type="date" class="form-control" name="picture" ng-model="gameForm.endDate" required>
    </div>
    <div class="form-group text-center">
      <label>Additional Rules</label>
      ​<textarea rows="5" cols="40" placeholder="additional rules" ng-model="gameForm.additionalRules"></textarea>
    </div>
    <div class="form-group">
      <label>Game Key</label>
      <input type="text" class="form-control" name="title" ng-model="gameForm.key" required>
    </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Create Game</button>
      </div>
  </form>
</div>