<nav class="navbar navbar-default animated slideInDown">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Assassins</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="adminLoggedIn || assassinLoggedIn" class="dropdown">
          <a href="/rules" >Rules</a>
          <ul class="dropdown-menu">
            <li><a href="/admin/login" ng-show="!adminLoggedIn">As Admin</a></li>
            <li><a ng-href="/assassin/login">As Assassin</a></li>
          </ul>
        </li>
        <li ng-hide="adminLoggedIn || assassinLoggedIn" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/login" ng-show="!adminLoggedIn">As Admin</a></li>
            <li><a ng-href="/assassin/login">As Assassin</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-hide="adminLoggedIn || assassinLoggedIn">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signup<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-href="/admin/register">As Admin</a></li>
            <li><a ng-href="/assassin/register">As Assassin</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-show="adminLoggedIn || assassinLoggedIn">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Admin<span class="caret"></span></span></a>
	          <ul ng-show="adminLoggedIn" class="dropdown-menu">
	          		<li><a ng-href="/admin/{{admin.username}}/home" class="ng-hidden-tag">Home</a></li>
	          		<li><a ng-show="adminLoggedIn" ng-href="/game/new" class="ng-hiddentag">Create a game</a></li>
	            <li role="separator" class="divider"></li>
	            <li ng-controller="logoutCtrl" class="text-center">
					       <a ng-click="adminLogout()" href="" class="ng-hiddentag">Logout</a>
	            </li>
	          </ul>
	          <ul class="dropdown-menu" ng-hide="adminLoggedIn">
	          	<li><a ng-href="/admin/register">Signup</a></li>
	          	<li><a ng-href="/admin/login">Login</a></li>
	          </ul>
        </li>
        <li role="separator" class="divider"></li>
        <li class="dropdown" ng-show="adminLoggedIn || assassinLoggedIn">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Assassin<span class="caret"></span></span></a>
	          <ul class="dropdown-menu">
	          	<div ng-hide="assassinLoggedIn">
		          	<li><a href="/assassin/login" class="ng-hiddentag">Login</a></li>
		          	<li><a href="/assassin/register" class="ng-hiddentag">Signup</a></li>
          		</div>
              <div ng-show="assassinLoggedIn" >
                <li class="text-center ">Game</li>
                <li><a ng-href="/game/{{game.title}}/home/" class="ng-hiddentag">Home</a></li>
                <li><a ng-href="/game/{{assassin.game}}/rules/" class="ng-hiddentag">Rules</a></li>
                <li role="separator" class="divider"></li>
                <li class="text-center">{{assassin.codename}}</li>
                  <li><a ng-href="/assassin/{{assassin.codename}}/profile/" class="ng-hiddentag">Profile</a></li>
                  <li ng-controller="logoutCtrl">
                     <a ng-click="assassinLogout()" href="" class="ng-hiddentag">Logout</a>
                  </li>
              </div>
	          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
