<h2>Rules of the game</h2>
<strong>The goal of Assassins is to remain alive until you have eliminated all other players.</strong>

<h3>Before the game</h3>
Sign up as an assassin for a game. You may do so by clicking <a ng-href="/assassin/register">here</a>. Or by searching for the game the admin has told you to join in the <a ng-href="">home page.</a>
<h4 class="text-center">Signing up</h4>
Give yourself a great <u>codename</u>. You're codename should NOT give away your identity what so ever. The <u>tagline</u> is a little message you want other assassins you want to see. Keep it short, and to the point. Imagine if you were a video game character and this is your known line. Your <u>avatar</u> is going to be used as your game icon. And you will also be asked to include a link to a <u>real photo</u> of yourself. Please include the real photo, as other assassins should be doing the same and it will benefit the game overall. Be creative, have fun with it.

<h3>Gameplay</h3>
<h4 class="text-center">Targets</h4>
<p>The admin of the game will randomly assign you a target. You may not see your target until the game has officially began. Once the game has began you will be able to see your targets info on your profile page. Once you eliminate your target, you will receive their target to pursue.</p>
<h4 class="text-center">Elimination</h4>
<ul class="list-unstyled">
	<li>
		 A target is eliminated by getting hit with a nerf bullet projectile or plastic spoon to the head. Or by poison.
		<u>Video or photo proof of any elimination is recommended to settle any disputes of elimination that may occur.</u>
		  <ul>
		  	<li>
		  		You <b>MAY NOT</b> use any weapons or that look in any way formidable to the public. For example, a spray painted nerf gun, or a plastic spoon attatched to a machete. <u>Have fun, but be mindful of the space.</u>Overall, if you have to think really hard if it will be okay to do in public, it's better to not do it that way.
		  	</li>
		  	<li>
		  		A target is eliminated by poison if they consume food or beverage where the container is marked with a skull and cross bones and does not find the antidote within <b>5 mins</b> of consumption. 
		  	</li>
		  </ul>
	</li>
	<li>
		You don't need to be present for a kill. Booby traps are legit as long as they follow all of the above rules. If you can rig a nerf gun so that it kills your target in a legal time and place, bravo. However, keep in mind that you must be able to prove the kill, or your target is a good enough sport to agree they have got got. It's probably safer to have proof.
	</li>
</ul>

<h4 class="text-center">Off Limits / Safe Zones</h4>


<ul class="list-unstyled">
	<li>
		 You can't make a kill just anywhere. Places where eliminations can not be made:
		  <ul>
		  	<li>
		  		Church, or any house of worship grounds. C'mon be respectful.
		  	</li>
		  	<li>
		  		Work. You may not eliminate or attempt to eliminate a target while they are working.
		  	</li>
		  	<li>
		  		School. <b>Not</b> school grounds, but a target may not be eliminated while attending class. 
		  	</li>
		  	<li>
		  		Bathroom. That is a special time between the target and the facility.
		  	</li>
		  	<li>
		  		In the target's room when the door is fully closed and the target is sleeping. If the door is open enough so that one can walk in, you can make the kill (even if they are sleeping). If you are invited in the room by anyone <b> legally</b> in the room, then you can walk in and make the elimination. For instance, your in cahoots with the target's roomate. Said roomate let's you in and you can continue to make the elimination. You CANNOT open a closed door unless you are invited in...this is breaking the law. But any other time that the victim is in the room and you are legally in the same room as your target, you can make the kill.
		  	</li>
		  	<li>
		  		Any events deemed off limits or a safe zone for an assassin. 
		  	</li>
		  </ul>
	</li>
</ul>

<h2>Technicalities</h2>
<ul class="list-unstyled">
	<li>
		Rules:
		<ul>
			<li>
				Any "additional" rules declared by the game MAY overwrite any of the rules stated above. Communicate with the admin to clarify any games.
			</li>
		</ul>
	</li>
	<li>
		Proof:
		<ul>
			<li>
				Proof does not have to be provided by you, or another assassin playing the game. As long as you can present the proof of the elimination.
			</li>
		</ul>
	</li>
	<li>
		Timeout:
		<ul>
			<li>
				If you accidentally "eliminate" an innocent you will be put in timeout by the admin. And eliminations made during that time will be invalid.
			</li>
		</ul>
	</li>
	<li>
		Getting kicked:
		<ul>
			<li>
				Proof does not have to be provided by you, or another assassin playing the game. As long as you can present the proof of the elimination.
			</li>
		</ul>
	</li>
	
</ul>

<h2>Disclaimer</h2>

<p>Anything you do or attempt while playing Assassins is at your fault. Any property damage will be your responsiblity. This site is just a game organizer for assassins the game.</p>

 